<!doctype html>
<html lang="{{ app.request.locale|replace({ '_': '-' }) }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>{% block title %}{{ 'Relink'|trans }}{% endblock %}</title>
        {% block metatags %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        var WebFontConfig = {
            google: {
                families: ['Roboto:400,700,400i,700i']
            }
        };
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
{% endblock %}
</body>
</html>
